<style>
	.BillLading {
		width: 940px;
	}

	td {
		height: 10PX;
	}

	#t_dtlgrid2 {
		display: none;
	}

	#_easyui_textbox_input188 {
		max-width: 850px !important;
	}

	#_easyui_textbox_input191 {
		max-width: 850px !important;
	}

	#_easyui_textbox_input192 {
		max-width: 850px !important;
	}
</style>

<table class="BillLading">
	<tr>
		<td style="display:none">
			<input id="isAdd" class="easyui-textbox">
		</td>
	</tr>
	<tr>
		<td>
			<label>進/出口:</label>
		</td>
		<td>
			<div class="fitem">
				<label><input type="radio" name="ImOrEx" class="ImOrEx" value="Im">進口</label>

				<label><input type="radio" name="ImOrEx" class="ImOrEx" value="Ex">出口</label>
			</div>
		</td>
		<td>
			<label>調派編號:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="ShdetNo" id="ShdetNo2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[12]'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-tip'"
				   onclick="SetForm2Value()"></a>
				<a id="ShedetNo2Pick" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="display:none" onclick="ShowWinForPickUpjqGrid('fm2','ShdetNo,LadingNo,LadingDate,HubName,SendCustNo,SendCHName,SendCustAddr,SendPhone,SendBy,SectorNo,SectorName,DestNo,CName,Type','ShdetNo,LadingNo,DateTimeNow,HubName,CustNo,CustCHName,CustAddrFull,Tel,CtcSale,SectorNo,SectorName,DestNo,Dest,WeigLevel','@Url.Action("getSelectionjqGrid", "ShdetL")');"></a>
			</div>
		</td>
		<td>
			<label>提單號碼:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="LadingNo" id="LadingNo2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[20]'" required>
			</div>
		</td>
		<td>
			<label>提單日期:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="LadingDate" id="LadingDate2" class="easyui-datetimebox" style="width:150px;">
			</div>
		</td>
	</tr>
	<tr style="border-bottom: 2px solid RGB(166,203,240);">
		<td>
			<label>路線:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="HubName" id="HubName2" class="easyui-textbox" style="width:100px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','HubNo,HubName','HubNo,HubName','@Url.Action("getSelectionjqGrid", "Hub")');"></a>
				<input name="HubNo" id="HubNo2" class="easyui-textbox" style="width:auto" type="hidden">
			</div>
		</td>
		<td>
			<label>倉單號碼:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="WarehouseRNo" id="WarehouseRNo" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[20]'">
			</div>
		</td>
		<td>
			<label>倉單時間:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="WarehouseRDate" id="WarehouseRDate" class="easyui-datebox" style="width:100px;" data-options="validType:'maxLength[20]'">
			</div>
		</td>
		<td>
			<label>轉單號碼:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="TransferNo" id="TransferNo" class="easyui-textbox" style="width:100px">
			</div>
		</td>
	</tr>
</table>
<table class="BillLading">
	<tr>
		<td>
			<label>寄件客戶:　</label>
		</td>
		<td>
			<div class="fitem">
				<input name="SendCustNo" id="SendCustNo2" class="easyui-textbox" style="width:90px" data-options="validType:'maxLength[20]'">
				<input name="SendCHName" id="SendCHName2" class="easyui-textbox" style="width:200px" data-options="validType:'maxLength[60]'">
			</div>
		</td>
		<td>
			<label>寄件人電話:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="SendPhone" id="SendPhone2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[60]'">
			</div>
		</td>
		<td td>
			<label>寄件人:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="SendBy" id="SendBy2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[60]'">
			</div>
		</td>
	</tr>
	<tr style="border-bottom: 2px solid RGB(166,203,240);">
		<td>
			<label>寄件人地址:</label>
		</td>
		<td colspan="5">
			<div class="fitem">
				<input name="SendCustAddr" id="SendCustAddr2" class="easyui-textbox" style="width:850px" data-options="validType:'maxLength[200]'">
			</div>
		</td>
	</tr>
</table>
<table class="BillLading">
	<tr>
		<td>
			<label>收件人電話:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="RecPhone" id="RecPhone_2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[60]'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','RecPhone,RecCustEName1,RecCustEName2,RecBy,RecCompany,RecCustENAddr1,RecCustENAddr2,RecChAddr,RecCustCHName,RecInvNo,RecState,RecCountry,RecPostDist,RecCity','Tel,Enconsin1,Enconsin2,Consinee,ConsinComp,Enaddr1,Enaddr2,Cnaddr,Cnconsin,UnifyNo,State,Country,Zip,City','@Url.Action("getSelectionjqGrid", "Consin")');"></a>
			</div>
		</td>
		<td>
			<label>收件人:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="RecBy" id="RecBy_2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[60]'">
			</div>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>
			<label>收件公司:</label>
		</td>
		<td colspan="9">
			<div class="fitem">
				<input name="RecCompany" id="RecCompany_2" class="easyui-textbox" style="width:850px" data-options="validType:'maxLength[60]'">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>收件人地址:</label>
		</td>
		<td colspan="9">
			<div class="fitem">
				<input name="RecChAddr" id="RecChAddr_2" class="easyui-textbox" style="width:850px;" data-options="validType:'maxLength[200]'">
			</div>
		</td>
	</tr>
	<tr style="border-bottom: 2px solid RGB(166,203,240);">
		<td>
			<label>統編/CR.No.:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="RecInvNo" id="RecInvNo_2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[30]'">
			</div>
		</td>
		<td>
			<label>郵政專號:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="RecPostDist" id="RecPostDist_2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[6]'">
			</div>
		</td>
		<td>
			<label>國家:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="RecCountry" id="RecCountry_2" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[30]'">
			</div>
		</td>
		<td>
			<label>城市:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="RecCity" id="RecCity" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[30]'">
			</div>
		</td>
		<td>
			<label>省/州:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="RecState" id="RecState" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[30]'">
				<a class="easyui-linkbutton" iconCls="icon-back" plain="true" style="float:right" onclick="SaveRec2()">新增收件人</a>
			</div>
		</td>
	</tr>
</table>
<table class="BillLading">
	<tr>
		<td>
			<label>取件員:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="SectorNo" id="SectorNo2" class="easyui-textbox" style="width:90px" data-options="readonly:'true'">
				<input name="SectorName" id="SectorName2" class="easyui-textbox" style="width:130px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','SectorNo,SectorName','SectorNo,SectorName','@Url.Action("getSelectionjqGrid", "Sector")');"></a>
			</div>
		</td>
		<td>
			<label>寄件站點:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="SStatNo" id="SStatNo2" class="easyui-textbox" style="width:90px" data-options="readonly:'true'">
				<input name="SStatName" id="SStatName2" class="easyui-textbox" style="width:130px" data-options="readonly:'true'">
			</div>
		</td>
		<td>
			<label>派件站點:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="AStatNo" id="AStatNo2" class="easyui-textbox" style="width:90px" data-options="readonly:'true'">
				<input name="AStatName" id="AStatName2" class="easyui-textbox" style="width:130px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','AStatNo,AStatName','StatNo,StatName','@Url.Action("getSelectionjqGrid", "Stat")');"></a>
			</div>
		</td>
	</tr>
	<tr style="border-bottom: 2px solid RGB(166,203,240);">
		<td>
			<label>目的地:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="DestNo" id="DestNo2" class="easyui-textbox" style="width:90px" data-options="readonly:'true'">
				<input name="CName" id="CName2" class="easyui-textbox" style="width:130px" data-options="readonly:'true'">

				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','DestNo,CName','DestNo,CName','@Url.Action("getSelectionjqGrid", "Dest")');"></a>
			</div>
		</td>
		<td>
			<label>類型:</label>
		</td>
		<td>
			<div class="fitem">
				<select name="Type" id="Type2" class="easyui-combobox" style="width:130px;" data-options="panelHeight:'auto'">
					<option value="null">請選擇</option>
					<option value="0">0.文件</option>
					<option value="1">1.包裹5KG以下</option>
					<option value="2">2.箱貨5KG以上</option>
					<option value="3">3.木箱</option>
					<option value="4">4.棧板</option>
				</select>
			</div>
		</td>
		<td>
			<label>品名:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="ProductNo" id="ProductNo" class="easyui-textbox" style="width:90px" data-options="readonly:'true'">
				<input name="ProductName" id="ProductName" class="easyui-textbox" style="width:130px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','ProductNo,ProductName','ProductNo,ProductName','@Url.Action("getSelectionjqGrid", "Product")');"></a>
			</div>
		</td>
	</tr>
</table>
<table class="BillLading">
	<tr>
		<td>
			<label>件數:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="PiecesNo" id="PiecesNo" class="easyui-numberspinner" style="width:90px" data-options="min:1">
			</div>
		</td>
		<td>
			<label>數量:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Qty" id="Qty" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2,readonly:'true',prompt:'系統自動計算'">
			</div>
		</td>
		<td>
			<label>實重:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Weight" id="Weight" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2,readonly:'true',prompt:'系統自動計算'">
			</div>
		</td>
		<td>
			<label>材積重:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Volume" id="Volume" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2,readonly:'true',prompt:'系統自動計算'">
			</div>
		</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>
			<label>貨品價值:</label>
		</td>
		<td colspan="3">
			<div class="fitem">
				<input name="Cost" id="Cost" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
				<input name="CostCurrency" id="CostCurrency" class="easyui-textbox" style="width:50px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','CostCurrency','CurrencyNo','@Url.Action("getSelectionjqGrid", "Currency")');"></a>
			</div>
		</td>
		<td>
			<label>付款方式:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="CcNo" id="CcNo" class="easyui-textbox" style="width:50px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','CcNo','CcNo','@Url.Action("getSelectionjqGrid", "Cc")');"></a>
			</div>
		</td>
		<td>
			<label>付款客戶:</label>
		</td>
		<td colspan="7">
			<div class="fitem">
				<input name="PayCustNo" id="PayCustNo" class="easyui-textbox" style="width:90px" data-options="readonly:'true'">
				<input name="PayCustName" id="PayCustName" class="easyui-textbox" style="width:200px">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','SendCustNo,SendCHName,SendPhone,SendBy,SendCustAddr','CustNo,CustCHName,Phone,CtcSale,CustAddr','@Url.Action("getSelectionjqGrid", "Cust")');"></a>
			</div>
		</td>
	</tr>
</table>
<table class="BillLading">
	<tr>
		<td>
			<label>到付款: </label>
		</td>
		<td colspan="3">
			<div class="fitem">
				<input name="ToPayment" id="ToPayment" class="easyui-numberbox" style="width:90px" data-options="min:0">
				<input name="ToPaymentCurrency" id="ToPaymentCurrency" style="width:50px" class="easyui-textbox" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','ToPaymentCurrency','CurrencyNo','@Url.Action("getSelectionjqGrid", "Currency")');"></a>
			</div>
		</td>
		<td>
			<label>代收款:</label>
		</td>
		<td colspan="3">
			<div class="fitem">
				<input name="AgentPay" id="AgentPay" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
				<input name="AgentPayCurrency" id="AgentPayCurrency" class="easyui-textbox" style="width:50px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','AgentPayCurrency','CurrencyNo','@Url.Action("getSelectionjqGrid", "Currency")');"></a>
			</div>
		</td>
		<td>
			<label>運費:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Freight" id="Freight" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:0">
				<input name="FreightCurrency" id="FreightCurrency" class="easyui-textbox" style="width:50px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','FreightCurrency','CurrencyNo','@Url.Action("getSelectionjqGrid", "Currency")');"></a>
			</div>
		</td>
		<td>
			<label>燃油費:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="FuelCosts" id="FuelCosts" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
			</div>
		</td>
		<td>
			<label>產證費:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="ProdIdPay" id="ProdIdPay" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
			</div>
		</td>
	</tr>
</table>
<table class="BillLading">
	<tr>
		<td>
			<label>報關費:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="CustomsPay" id="CustomsPay" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
			</div>
		</td>
		<td>
			<label>保險費:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="InsurancePay" id="InsurancePay" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
			</div>
		</td>
		<td>
			<label>總金額:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Total" id="Total" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
				<input name="TotalCurrency" id="TotalCurrency" class="easyui-textbox" style="width:50px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm2','TotalCurrency','CurrencyNo','@Url.Action("getSelectionjqGrid", "Currency")');"></a>
			</div>
		</td>
		<td>
			<label>其他(有稅):</label>
		</td>
		<td>
			<div class="fitem">
				<input name="OtherPayTax" id="OtherPayTax" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
			</div>
		</td>
		<td>
			<label>其他(無稅):</label>
		</td>
		<td>
			<div class="fitem">
				<input name="OtherPayNoTax" id="OtherPayNoTax" class="easyui-numberbox" style="width:90px" data-options="min:0,precision:2">
			</div>
		</td>

	</tr>
</table>
<table class="BillLading">
	<tr style="border-bottom: 2px solid RGB(166,203,240);">
		<td>
			<label>備註:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Remark" class="easyui-textbox" style="width:400px" data-options="multiline:'true'">
			</div>
		</td>
		<td>
			<label>備註2:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Remark2" class="easyui-textbox" style="width:400px" data-options="multiline:'true'">
			</div>
		</td>
	</tr>
</table>
<div class="pull-left">
	<table id="dtlgrid2"></table>
</div>

<script>
	var dtlgrid = $("#dtlgrid2");
	var dtlapiURL = "/DeclCust_Main/";
	var dtlModel = [
		{
			name: 'Action', label: 'Action', width: 60, search: false, title: false
		},
		{
			name: "LadingNo", label: "提單號碼", width: 100, search: false
		},
		{
			name: "sNo", label: "序號", search: true, key: true, hidden: true,
		},
		{
			name: "CustType", label: "報關類型", width: 60,search: false, editable: true, edittype: 'select', editoptions: { value: "x1:x1;x2:x2" },
		},
		{
			name: "Flight", label: "航班班次", width: 100,search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "LadNo", label: "提單主號", width: 100, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "BagNo", label: "袋序號", width: 100, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "CleCusCode", label: "清關代號", width: 100, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "CusCoode", label: "報關條碼", width: 100, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "ProductNo", label: "品名代號", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "10" }
		},
		{
			name: 'ProductNo_S', label: '', width: 45, search: false, title: false
		},
		{
			name: "ProductName", label: "中文品名", width: 100, search: false, editable: true, editoptions: { size: "20", maxlength: "50" }
		},
		{
			name: "ProductEName", label: "英文品名", width: 100, search: false,editable: true, editoptions: { size: "20", maxlength: "50" }
		},
		{
			name: "Country", label: "生產國別", width: 100, search: false, editable: true, editoptions: { size: "20", maxlength: "30" }
		},
		{
			name: "HSNo", label: "HS編碼", width: 100, search: false, editable: true, editoptions: { size: "20", maxlength: "20" }
		},
		{
			name: "Type", label: "類別", width: 100,  search: false, editable: true, editoptions: { size: "20", maxlength: "5" }
		},
		{
			name: "Qty", label: "數量", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Unit", label: "單位", width: 45, search: false, editable: true, editoptions: { size: "20", maxlength: "10" },
		},
		{
			name: "GrossWeight", label: "毛重", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Weight", label: "實重", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Price", label: "單價", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Length", label: "長", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Width", label: "寬", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Height", label: "高", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Total", label: "總價值", width: 80, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Currency", label: "幣別", width: 45, search: false, editable: true, editoptions: { size: "20", maxlength: "3" },
		},
		{
			name: 'Currency_S', label: '', width: 45, search: false, title: false
		},
		{
			name: "Pcs", label: "件數", width: 50, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "PcsNo", label: "件序號", width: 50, search: false, editable: true, editoptions: { size: "20", maxlength: "20" },
		},
		{
			name: "Remark", label: "備註", width: 200, search: false, editable: true,
		},
	];
	var lastSel2;
	dtlgrid.jqGrid({
		url: dtlapiURL + "GetGridJSON?LadingNo=★",
		datatype: "json",
		colModel: dtlModel,
		sortname: "sNo",
		sortorder: "asc",
		shrinkToFit: false,
		//autowidth: true,
		width: '935px',
		height:'100px',

		pgbuttons: false,
		pginput: false,
		viewrecords: true,
		rowNum: 100,
		hidegrid: false,
		toolbar: [true, "top"],
		altRows: true,
		altclass: "ui-jz-altRow",
			onSelectRow: function (sNo) {
			if (sNo && sNo !== lastSel2) {
				jQuery('#dtlgrid2').restoreRow(lastSel2);
				lastSel2 = sNo;
			}
			jQuery('#dtlgrid2').editRow(sNo, true);
		},
		gridComplete: function () {
			var ids = jQuery("#dtlgrid2").jqGrid('getDataIDs');
			for (var i = 0; i < ids.length; i++) {
				var IdKey = ids[i];
				d = "<input type='button' class='btn btn-danger' value='刪除' onclick=\"jQuery('#dtlgrid2').delRowData('" + IdKey + "');\"  />";
				p = "<input type='button' id ='test' class='btn btn-info' value='選' style='width:40px;height:30px' onclick=\"ShowWinForPickUpjqGrid('dtlgrid2','ProductNo,ProductName,ProductEName,Country,HSNo','ProductNo,ProductName,ProductEName,Country,Hsno','@Url.Action("getSelectionjqGrid", "Product")');\">";
				c = "<input type='button' class='btn btn-info' value='選' style='width:40px;height:30px'onclick=\"ShowWinForPickUpjqGrid('dtlgrid2','Currency','CurrencyNo','@Url.Action("getSelectionjqGrid", "Currency")');\"></a>";

				jQuery("#dtlgrid2").jqGrid('setRowData', IdKey, { Action: d, ProductNo_S: p, Currency_S: c,});
			}
			jQuery("#dtlgrid2").closest(".ui-jqgrid-bdiv").scrollLeft(0);
		},

	}).viewOnlyPager().filterToolbar({ searchOnEnter: true });

	$(function () {
		$('#dlg2-buttons').append('<a class="easyui-linkbutton" iconCls="icon-add" style="float:left" onclick = "AddForm2NewData()"> 新增子表</a>')
	})

	function getToday(){
		var today = new Date();
		return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
	}

	$('#ShdetNo2').textbox({
		onChange: function (value) {
			if (value!= "")
				$('input[value=Ex]').prop('checked', true)
			else {
				$('input[value=Im]').prop('checked', true)
			}
		}
	});

	function SaveRec2() {
		var recBy = $('#RecBy_2').val();
		var recPhone = $('#RecPhone_2').val();
		var recChAddr = $('#RecChAddr_2').val();
		if (recBy && recPhone && recChAddr) {
			var row = {
				Consinee : recBy,
				Tel: recPhone,
				ConsinComp: $('#RecCompany_2').val(),
				Cnaddr: recChAddr,
				UnifyNo: $('#RecInvNo_2').val(),
				Country: $('#RecCountry_2').val(),
				Zip: $('#RecPostDist_2').val(),
			};
                $.messager.confirm('Confirm', '確認新增此收件人資料?', function (r) {
                    if (r) {
                        $.post('@Url.Action("SaveRec", "Bill_Lading")', { data: row }, function (data, textStatus, jqXHR) {
                            if (data.ok >= 0) {
                                $('#grid').trigger('reloadGrid');
                                $('#subgrid').trigger('reloadGrid');
                                $.messager.alert('成功', '新增成功!');
                            } else {
                                $.messager.alert('新增收件人錯誤', data.message, 'error');
                            }
                        }, 'json');
                    }
                });
            } else {
			$.messager.alert('警告', '至少填入收件人、收件人電話、中文地址!', 'warning');
            }
	}

	function SetForm2Value() {

		//if ($('#isAdd').val() == 'true')
		//	$('input[value=Ex]').prop('checked', true)
		if ($('#ShdetNo2').val() == "")
			$('#ShedetNo2Pick').click();
		else
			$.getJSON('/ShdetL/GetGridJSON_ToBillLading/?ShdetNo=' + $('#ShdetNo2').val(), function (data) {
				if (data.records > 0) {
					$('#LadingNo2').textbox('setValue', data.rows[0].LadingNo);
					$('#LadingDate2').textbox('setValue', data.rows[0].DateTimeNow.replace("T", " ").substring(0, 16));
					$('#HubNo2').textbox('setValue', data.rows[0].HubNo);
					$('#HubName2').textbox('setValue', data.rows[0].HubName);
					$('#SendCustNo2').textbox('setValue', data.rows[0].CustNo);
					$('#SendCHName2').textbox('setValue', data.rows[0].CustCHName);
					$('#SendCustAddr2').textbox('setValue', data.rows[0].CustAddrFull);
					$('#SendPhone2').textbox('setValue', data.rows[0].Tel);
					$('#SendBy2').textbox('setValue', data.rows[0].CtcSale);
					$('#SectorNo2').textbox('setValue', data.rows[0].SectorNo);
					$('#SectorName2').textbox('setValue', data.rows[0].SectorName);
					//$('#AStatNo2').textbox('setValue', data.rows[0].PickUpAreaNo);
					//$('#AStatName2').textbox('setValue', data.rows[0].PickUpAreaName);
					$('#DestNo2').textbox('setValue', data.rows[0].DestNo);
					$('#CName2').textbox('setValue', data.rows[0].CName);
					$('#Type2').combobox('setValue', data.rows[0].WeigLevel);
				}
				else
					$.messager.alert('錯誤', '查無此筆【調派編號】。');
			});
	}

	function AddForm2NewData() {
		if ($('#LadingNo2').val() != "") {
			var getLastData = $("#dtlgrid2").jqGrid('getRowData')[$("#dtlgrid2").jqGrid('getRowData').length - 1];
			var SNO = '';
			if (getLastData != undefined)
				SNO = parseInt(getLastData.sNo) + 1;
			else
				SNO = 1;

			var parameters = {
				LadingNo: $('#LadingNo2').val(),
				sNo: SNO,
				CustType: "",
				Flight: "",
				LadNo: "",
				BagNo: "",
				CleCusCode: "",
				CusCoode: "",
				ProductNo: "",
				ProductName: "",
				ProductEName: "",
				Country: "",
				Type: "",
				HSNo:"",
				Qty: '0',
				Weight: '0',
				GrossWeight: '0',
				Price: '0',
				Length: '0',
				Width: '0',
				Height:'0',
				Total: '0',
				Currency: "",
				Pcs: '0',
				PcsNo: '0',
				Remark:'0',

			};
			$("#dtlgrid2").jqGrid('addRowData', parameters.sNo, parameters, "last");
			jQuery("#dtlgrid2").setSelection(parameters.sNo);
		} else {
			$.messager.alert('錯誤', '請先輸入主表【提單號碼】。');
		}
	};
</script>
