<table style="width:100%">
    <tr>
        <td>
            <label>取件名稱:</label>
        </td>
        <td>
            <input name="CarryName" id="CarryName" class="easyui-textbox" style="width:auto" required data-options="readonly:true">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpGrid20('CarryName','CarryName','textbox','Code5','Code5','textbox','CustAddr','CustAddr','textbox','add1','add1','textbox','add2','add2','textbox','add3','add3','textbox','add4','add4','textbox','add5','add5','textbox','add6','add6','textbox','CustENAddr1','CustENAddr1','textbox','CtcSale','CtcSale','textbox','Tel','Tel','textbox','SectorNo','SectorNo','textbox','Country','Country','textbox','PickUpAreaNo','PickUpAreaNo','textbox','EndDate','EndDate','timespinner','StatNo','StatNo','textbox','CarID','CarID','textbox','CcNo','CcNo','textbox','Charge','Charge','textbox','歷史資料','@Url.Action("getSelectionGrid", "ShdetF")'+'/'+$('#CustNo').val());"></a>
        </td>
    </tr>
    <tr>
        <td>
            <label>郵政5碼:</label>
        </td>
        <td colspan="3">
            <input name="Code5" id="Code5" class="easyui-textbox" style="width:auto">
            <input name="CustAddr" id="CustAddr" class="easyui-textbox" style="width:50%" data-options="readonly:true,onChange:function(newValue,oldValue){ CustAddrChanged(newValue,oldValue);}">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpGrid20('Code5','Code5','textbox','CustAddr','AdrressSimpleVer','textbox','PickUpAreaNo','PickUpAreaNo','textbox','EndDate','DateEnd','timespinner','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','none','選擇地址','@Url.Action("getSelectionGrid20", "PostCode")');"></a>
        </td>
    </tr>
    <tr>
        <td>
            <label>段巷弄號樓 :</label>
        </td>
        <td colspan="3">
            <input name="add1" id="add1" class="easyui-textbox" style="width:30px">段
            <input name="add2" id="add2" class="easyui-textbox" style="width:30px">巷
            <input name="add3" id="add3" class="easyui-textbox" style="width:30px">弄
            <input name="add4" id="add4" class="easyui-textbox" style="width:30px">號
            <input name="add5" id="add5" class="easyui-textbox" style="width:30px">樓
            ,其他<input name="add6" id="add6" class="easyui-textbox" style="width:120px">
        </td>
    </tr>
    <tr>
        <td>
            <label>英文地址:</label>
        </td>
        <td colspan="2">
            <input name="CustENAddr1" id="CustENAddr1" class="easyui-textbox" style="width:100%">
        </td>
    </tr>
    <tr>
        <td>
            <label>國家:</label>
        </td>
        <td>
            <input name="Country" id="Country" class="easyui-textbox" style="width:auto">
        </td>
        <td>
            <label>業務部聯絡人:</label>
        </td>
        <td>
            <input name="CtcSale" id="CtcSale" class="easyui-textbox" style="width:auto" required>
        </td>
    </tr>
    <tr>
        <td>
            <label>電話:</label>
        </td>
        <td>
            <input name="Tel" id="Tel" class="easyui-textbox" style="width:auto" required>
        </td>
        <td>
            <label>外務員:</label>
        </td>
        <td>
            <input name="SectorName" id="SectorName" class="easyui-textbox" style="width:auto" required data-options="readonly:true">
            <input  name="SectorNo" id="SectorNo" class="easyui-textbox" style="width:0px;display:none" required>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpjqGrid('fm','SectorName,SectorNo,PickUpAreaNo','SectorName,SectorNo,PickUpAreaNo','@Url.Action("getSelectionjqGrid_Add", "Sector")');"></a>
        </td>
    </tr>
    <tr>
        <td>
            <label>調度區域:</label>
        </td>
        <td>
            <input name="PickUpAreaNo" id="PickUpAreaNo" class="easyui-textbox" style="width:90px" required data-options="readonly:true,onChange:function(newValue,oldValue){ PickUpAreaNoChanged(newValue,oldValue);}">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpjqGrid('fm','EndDate,PickUpAreaNo','DateEnd,PickUpAreaNo','@Url.Action("getSelectionjqGrid", "PickUpArea")');"></a>
        </td>
        <td>
            <label>截止時間:</label>
        </td>
        <td>
            <input name="EndDate" id="EndDate" class="easyui-timespinner" style="width:80px;" data-options="showSeconds:false" required>
        </td>
    </tr>
    <tr>
        <td>
            <label>叫件站點:</label>
        </td>
        <td>
            <input name="StatNo" id="StatNo" class="easyui-textbox" style="width:90px" data-options="readonly:true" required>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpjqGrid('fm','StatNo','StatNo','@Url.Action("getSelectionjqGrid", "Stat")');"></a>
        </td>
        <td>
            <label>車輛ID:</label>
        </td>
        <td>
            <input name="CarID" id="CarID" class="easyui-textbox" style="width:90px" data-options="readonly:true">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpjqGrid('fm','CarID','CarID','@Url.Action("getSelectionjqGrid", "Vehicle")');"></a>
        </td>
    </tr>
    <tr>
        <td>
            <label>貨物類型</label>
        </td>
        <td>
            <select class="easyui-combobox" name="WeigLevel" style="width:auto;display:none">
                <option value="0">0.文件</option>
                <option value="1">1.包裹5KG以下</option>
                <option value="2">2.箱貨5KG以上</option>
            </select>
        </td>
        <td>
            <label>報關類型</label>
        </td>
        <td>
            <select class="easyui-combobox" name="CocustomTyp" style="width:auto;display:none">
                <option value="0">0.不報關</option>
                <option value="1">1.正式報關</option>
                <option value="2">2.簡易報關</option>
                <option value="3">3.其他</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>付款方式</label>
        </td>
        <td>
            <input name="CcNo" id="CcNo" class="easyui-textbox" style="display:none;width:90px">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpjqGrid('fm','CcNo','CcNo','@Url.Action("getSelectionjqGrid", "Cc")');"></a>
        </td>
        <td>
            <label>收款金額</label>
        </td>
        <td>
            <input name="Charge" id="Charge" class="easyui-textbox" style="display:none;width:90px">
        </td>
    </tr>
    <tr>
        <td>
            <label>取件站點:</label>
        </td>
        <td>
            <input name="CallStatNo" id="CallStatNo" class="easyui-textbox" style="width:90px" data-options="readonly:true" required>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpjqGrid('fm','CallStatNo','StatNo','@Url.Action("getSelectionjqGrid", "Stat")');"></a>
        </td>
        <td>
            <label>可取件日期</label>
        </td>
        <td>
            <input id="RedyDate" name="RedyDate" class="easyui-datebox" style="display:none;width:90px">
        </td>
    </tr>
    <tr>
        <td><label>調派狀態</label></td>
        <td>
            <input class="form-check-input" type="checkbox" name="d_IsDesp" id="d_IsDesp">
        </td>
        <td><label>取消狀態</label></td>
        <td>
            <input class="form-check-input" type="checkbox" name="d_IsCancel" id="d_IsCancel">
        </td>
    </tr>
    <tr>
        <td><label>回覆狀態</label></td>
        <td>
            <input class="form-check-input" type="checkbox" name="d_IsReply" id="d_IsReply">
        </td>
        <td><label>完成狀態</label></td>
        <td>
            <input class="form-check-input" type="checkbox" name="d_IsFinish" id="d_IsFinish">
        </td>
    </tr>
    <tr>
        <td>
            <input name="ShdetNo" id="ProdShdetNo" type="hidden">
            <input name="sDtlNo" id="sDtlNo" type="hidden">
            <input name="CustNo" id="ProdCustNo" type="hidden">
            <input name="sNo" id="ProdSNo" type="hidden">
        </td>
    </tr>
</table>

<script>
    function calculate() {
        var height = $("#fHeight").val();
        var width = $("#fWidth").val();
        var len = $("#fLen").val();
        var pcs = $("#Pcs").val();

		$("#iTotNum").numberbox('setValue', Math.round((height * width * len) / 28350 * pcs * 1000) / 1000);
    }
</script>







<tr>
    <td><label>取件站點:</label></td>
    <td>
        <div class="fitem">
            <input name="CallStatNo" id="CallStatNo" class="easyui-textbox" style="width:90px" data-options="readonly:true" required>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
               onclick="ShowWinForPickUpjqGrid('fm','CallStatNo','StatNo','@Url.Action("getSelectionjqGrid", "Stat")');"></a>
        </div>
    </td>
</tr>





