@model List<HY_PML.Models.Bill_Land_Report>
@{
    Layout = null;
    const int rpp = 30;
}
@Styles.Render("~/Content/report/a4")
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
    <title> 理貨單號：@(Model.Select(x => x.MasterNo).FirstOrDefault())</title>
    <style>
        td, th {
            padding-left: 1mm;
        }
    </style>
</head>

<body>
    @foreach (var data in Model)
	{
		var seq = 0;
		var customOrder = new List<string> { "正", "簡", "　"};
		
		int total_page = (data.Items.Count() - 1) / rpp + 1;
		var items = data.Items.OrderBy(x => Array.IndexOf(customOrder.ToArray(), x.CocustomTyp)).ThenBy(x => x.BagNo == null ? "1" : "0").ThenBy(x=> x.BagNo).ThenBy(x=> x.SectorName).ThenBy(x=>x.CarryName).ThenBy(x=>x.MasterNo).ToArray();
		for (var p = 0; p < total_page; ++p)
		{
			var pages = p + 1;
            <div class="page portrait">
                <table class="page-center f3" style="margin:5mm 0 0 5mm;width:200mm;border:none;text-align:left;font-weight:700">
                    <thead>
                        <tr>
                            <td style="width:66mm">主提單號：@data.MasterNo/@data.FlightNo</td>
                            <td style="width:66mm;text-align:center" class="f5" rowspan="2">@data.HubName 理貨表</td>
                            <td style="width:66mm;text-align:right">理貨單號:@data.SheetNo 第 @pages 頁/共 @total_page 頁</td>
                        </tr>
                        <tr>
                            <td style="width:66mm">分提單號：@data.Items.Select(x => x.HouseNo).FirstOrDefault()</td>
                            <td style="width:66mm;text-align:right">列印日期:@data.PrintTime</td>
                        </tr>
                    </thead>
                </table>
                <table class="page-center f2" style="margin:15mm 0 0 5mm;width:200mm;">
                    <tr>
                        <td style="border:0.5px solid #000;">提單號碼</td>
                        <td style="border:0.5px solid #000;">寄件方</td>
                        <td style="border:0.5px solid #000;">運務</td>
                        <td style="border:0.5px solid #000;">S/D</td>
                        <td style="border:0.5px solid #000;">件<br />數</td>
                        <td style="border:0.5px solid #000;">重量</td>
                        <td style="border:0.5px solid #000;">材積重</td>
                        <td style="border:0.5px solid #000;">批價</td>
                        <td style="border:0.5px solid #000;">編袋號</td>
                        <td style="border:0.5px solid #000;">報關</td>
                        <td style="border:0.5px solid #000;">後<br />核</td>
                        <td style="border:0.5px solid #000;">備註:<br />注意事項/到付賣價</td>
                    </tr>
                    @foreach (var item in items.Skip(p * rpp).Take(rpp))
                    {
                        seq = seq + 1;
                        <tr style="height:8mm">
							<td style="text-align:left;width:20mm;border:0.5px solid #000;">@item.LadingNo</td>
                            <td style="text-align:left;width:45mm;border:0.5px solid #000;">@item.CarryName</td>
                            <td style="text-align:left;width:15mm;border:0.5px solid #000;">@item.SectorName</td>
                            <td style="text-align:left;width:5mm;border:0.5px solid #000;">@item.WeigLevel</td>
                            <td style="text-align:right;width:5mm;border:0.5px solid #000;">@item.Pcs</td>
                            <td style="text-align:right;width:10mm;border:0.5px solid #000;"></td>@*@item.Weight*@
                            <td style="text-align:right;width:10mm;border:0.5px solid #000;"></td>@*@item.iTotNum*@
                            <td style="text-align:right;width:20mm;border:0.5px solid #000;"></td>@*批價*@
                            <td style="text-align:left;width:20mm;border:0.5px solid #000;">@item.BagNo</td>
                            <td style="text-align:left;width:8mm;border:0.5px solid #000;">@item.CocustomTyp</td>
                            <td style="text-align:left;width:5mm;border:0.5px solid #000;">@item.WriteOff</td>
                            <td style="text-align:left;width:40mm;border:0.5px solid #000;">@item.Remark</td>
                        </tr>
                    }
                </table>
            </div>
        }
    }
    <script>
        window.print();
    </script>
</body>
</html>


