<table>
	<tr style="display:none">
		<td>
			<label>進口帳單號碼：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="ImBillNo" id="ImBillNo" class="easyui-textbox">
			</div>
		</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>
			<label>轉會計:</label>
		</td>
		<td colspan="3">
			<div class="fitem">
				<input name="IsFinance" id="IsFinance" class="easyui-switchbutton" data-options="onText:'是',offText:'否',value:'true'">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>提單號碼：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="LadingNo" id="LadingNo" class="easyui-textbox" style="width:100px" data-options="validType:'maxLength[13]'">
			</div>
		</td>
		<td><label>提單日期：</label></td>
		<td>
			<div class="fitem">
				<input name="LadingDate" id="LadingDate" class="easyui-datetimebox" style="width:150px">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>站點：</label>
		</td>
		<td colspan="3">
			<div class="fitem">
				<input name="StatNo" id="AStatNo" class="easyui-textbox" style="width:100px" data-options="readonly:'true'">
				<input name="StatName" id="AStatName" class="easyui-textbox" style="width:200px">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm','StatNo,StatName','StatNo,StatName','@Url.Action("getSelectionjqGrid", "Stat")');"></a>
			</div>
		</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>
			<label>客戶：</label>
		</td>
		<td colspan="3">
			<div class="fitem">
				<input name="CustNo" id="CustNo" class="easyui-textbox" style="width:100px" data-options="readonly:'true'">
				<input name="CHName" id="CHName" class="easyui-textbox" style="width:200px">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm','CustNo,CHName','CustNo,CustCName','@Url.Action("getSelectionjqGrid", "Cust")');"></a>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>付款：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="CcNo" id="CcNo" class="easyui-textbox" style="width:50px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm','CcNo','CcNo','@Url.Action("getSelectionjqGrid", "Cc")');"></a>
			</div>
		</td>
		<td>
			<label>目的地：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="DestNo" id="DestNo" class="easyui-textbox" style="width:50px" data-options="readonly:'true'">
				<input name="CName" id="CName" class="easyui-textbox" style="width:150px">

				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm','DestNo,CName','DestNo,CName','@Url.Action("getSelectionjqGrid", "Dest")');"></a>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>類型：</label>
		</td>
		<td>
			<div class="fitem">
				<select name="Type" id="Type" class="easyui-combobox" style="width:100px;" data-options="panelHeight:'auto'">
					<option value="null">請選擇</option>
					<option value="DOX">DOX</option>
					<option value="SPX">SPX</option>
				</select>
			</div>
		</td>
		<td>
			<label>件數：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="PiecesNo" id="PiecesNo" class="easyui-numberspinner" style="width:100px" data-options="min:1">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>重量：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Weight" id="Weight" class="easyui-numberbox" style="width:100px" data-options="min:0,precision:2">
			</div>
		</td>
		<td>
			<label>運費：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Freight" id="Freight" class="easyui-numberbox" style="width:100px" data-options="min:0,precision:2">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>報關費：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="CustomsPay" id="CustomsPay" class="easyui-numberbox" style="width:100px" data-options="min:0,precision:2">
			</div>
		</td>
		<td>
			<label>關稅：</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Tariff" id="Tariff" class="easyui-numberbox" style="width:100px" data-options="min:0,precision:2">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>其他(有稅):</label>
		</td>
		<td>
			<div class="fitem">
				<input name="OtherPayTax" id="OtherPayTax" class="easyui-numberbox" style="width:100px" data-options="min:0,precision:2">
			</div>
		</td>
		<td>
			<label>其他(無稅):</label>
		</td>
		<td>
			<div class="fitem">
				<input name="OtherPayNoTax" id="OtherPayNoTax" class="easyui-numberbox" style="width:100px" data-options="min:0,precision:2">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>到付款:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="ToPaymentCurrency" id="ToPaymentCurrency" style="width:50px" class="easyui-textbox" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm','ToPaymentCurrency','CurrencyNo','@Url.Action("getSelectionjqGrid", "Currency")');"></a>
				<input name="ToPayment" id="ToPayment" class="easyui-numberbox" style="width:100px" data-options="min:0,precision:2">
			</div>
		</td>
		<td>
			<label>代收款:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="AgentPayCurrency" id="AgentPayCurrency" class="easyui-textbox" style="width:50px" data-options="readonly:'true'">
				<a class="easyui-linkbutton" data-options="iconCls:'icon-search'"
				   onclick="ShowWinForPickUpjqGrid('fm','AgentPayCurrency','CurrencyNo','@Url.Action("getSelectionjqGrid", "Currency")');"></a>
				<input name="AgentPay" id="AgentPay" class="easyui-numberbox" style="width:100px" data-options="min:0,precision:2">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>備註:</label>
		</td>
		<td colspan="3">
			<div class="fitem">
				<input name="Remark" class="easyui-textbox" style="width:500px">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label>總金額:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="Total" id="Total" style="width:100px" class="easyui-textbox" data-options="readonly:'true',prompt:'系統自動計算'">
			</div>
		</td>
	</tr>
</table>