@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HY_PML.Controllers;
@{
	var info = (UserLoginInfo)Session["UserLoginInfo"];
	var statNo = info.statNo;
}
<!DOCTYPE html>
<html lang="zh">
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The description of my page" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="~/Content/easyui/themes/default/easyui.css" rel="stylesheet" />
	<link href="~/Content/easyui/themes/icon.css" rel="stylesheet" />
	<style>
		#gridbtn_caption {
			opacity: 1;
		}

			#gridbtn_caption .ui-icon {
				display: none;
			}

			#gridbtn_caption .ui-pg-button-text {
				font-size: 16px;
				color: black;
			}

		.warning-dialog {
			text-align: center;
			line-height: 90px;
			font-size: 12px;
		}
	</style>
</head>
<body>
	<div style="background-color:#f6f6f6">
		@RenderBody()
	</div>

	<!--工具列-->
	<div id="toolbar_grid">
		<a id="add-btn" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addMaster()">新增</a>
		<a id="edit-btn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editMaster()">修改</a>
		<a id="del-btn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delMaster()">刪除</a>
	</div>

	<div id="toolbar_subgrid">
		<a id="dtl-add-btn" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addDetail()">新增</a>
		<a id="dtl-edit-btn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDetail()">修改</a>
		<a id="dtl-del-btn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delDetail()">刪除</a>
	</div>

	<!--選擇搜尋框-->
	<div id="win" class="easyui-window" title="My Window" style="width:800px;height:520px;display:none"
		 data-options="resizable:false,draggable:false,iconCls:'icon-search',modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false">
	</div>

	<!--主表編輯框-->
	<div id="dlg" class="easyui-dialog" style="display:none;width:@ViewBag.dlgWidth;height:530px;padding:10px 10px"
		 closed="true" buttons="#dlg-buttons" data-options="resizable:false,draggable:true">
		<form id="fm" method="post" novalidate>
			@{
				Html.RenderAction("_ElementInForm");
			}
			<div id="editShowOnly">
				<div class="fitem">
					<label>建立時間:</label>
					<input name="CreatedDate" class="easyui-textbox">
				</div>
				<div class="fitem">
					<label>建立人員:</label>
					<input name="CreatedBy" class="easyui-textbox">
				</div>
				<div class="fitem">
					<label>更新時間:</label>
					<input name="UpdatedDate" class="easyui-textbox">
				</div>
				<div class="fitem">
					<label>更新人員:</label>
					<input name="UpdatedBy" class="easyui-textbox">
				</div>
				<div class="fitem">
					<label>刪除時間:</label>
					<input name="DeletedDate" class="easyui-textbox">
				</div>
				<div class="fitem">
					<label>刪除人員:</label>
					<input name="DeletedBy" class="easyui-textbox">
				</div>
				<div class="fitem">
					<label>作廢:</label>
					<input name="IsDelete" class="easyui-textbox">
				</div>
			</div>
		</form>
	</div>
	<div id="dlg-buttons" style="display:none">
		<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveMaster()" style="width:90px">存檔</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
	</div>

	<!--子表編輯框-->
	<div id="dlg2" class="easyui-dialog" style="display:none;width:@ViewBag.dlgWidth;height:530px;padding:10px 10px"
		 closed="true" buttons="#dlg-buttons2" data-options="resizable:false,draggable:true">
		<form id="fm2" method="post" novalidate>

			@{
				Html.RenderAction((string)ViewBag.FormPartialName2);
			}
		</form>
	</div>
	<div id="dlg-buttons2" style="display:none">
		<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveDetail()" style="width:90px">存檔</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')" style="width:90px">取消</a>
	</div>

	<script src="~/Content/easyui/jquery.easyui.min.js"></script>

	<script>
		var g = $("#grid");
		var sg = $("#subgrid");

		function ResizeGrid() {
			var w = $(window);
			g.jqGrid("setGridWidth", w.innerWidth() - 11);
			g.jqGrid("setGridHeight", w.innerHeight() / 2 + 30 - $(".navbar").height() - $("#gbox_grid").height() + $("#gbox_grid .ui-jqgrid-bdiv").height());
			sg.jqGrid("setGridWidth", w.innerWidth() - 11);
			sg.jqGrid("setGridHeight", w.innerHeight() / 2 - $(".navbar").height() - $("#gbox_subgrid").height() + $("#gbox_subgrid .ui-jqgrid-bdiv").height());
		}

		$(function () {
			var userAct = $('#UserAct').val();
			setTimeout(function () {
				if (userAct.includes("Add") == false) {
					$("#add-btn").linkbutton('disable');
					$("#dtl-add-btn").linkbutton('disable');
				}
				if (userAct.includes("Edit") == false) {
					$("#edit-btn").linkbutton('disable');
					$("#dtl-edit-btn").linkbutton('disable');
				}
				if (userAct.includes("Del") == false) {
					$("#del-btn").linkbutton('disable');
					$("#dtl-del-btn").linkbutton('disable');
				}
			}, 300);

			$(window).resize(
				function () {
					$("body").css("padding-top", $(".navbar").height());
					ResizeGrid();
				}).trigger("resize");
			setTimeout(function () {
				$(window).trigger("resize");
			}, 1000);
		});

		$("#grid,#subgrid,#subgrid2").toArray().forEach(function (g) {
			(function AddGridComplete(grid) {
				if (typeof ($(grid).jqGrid) === "undefined")
					setTimeout(AddGridComplete, 150, grid);
				else {
					var fn = $(grid).jqGrid("autoWidthColumns").jqGrid("getGridParam", "gridComplete");
					$(grid).jqGrid("setGridParam", {
						gridComplete: function () {
							var target = $(grid).parents(".ui-jqgrid").find(".ui-paging-info");
							//fix space at records field
							var recordsnum = target.text().replace(/ /g, "").replace("r", " r");
							target.text(recordsnum);
							//call original function
							typeof (fn) === "function" && fn();
						}
					});
				}
			})(g);
		});

		$("#t_grid").append($('#toolbar_grid'));
		$("#t_subgrid").append($('#toolbar_subgrid'));
	</script>

	<script>
		function ShowWinForCbjqGrid(gridId, formId, dlgId, contentUrl, postUrl, param = null) {
			$('#win').window('open');
			$('#win').panel('clear');
			$('#win').window('setTitle', '');
			$('#win').window('refresh', contentUrl + '?' + 'dlgId=' + dlgId + '&gridId=' + gridId + '&formId=' + formId + '&postUrl=' + postUrl + '&param=' + param);
		}

		function ShowWinForPickUpjqGrid(formId, inputFields, inputValues, contentUrl) {
			$('#win').window('open');
			$('#win').panel('clear');
			$('#win').window('setTitle', '');
			$('#win').window('refresh', contentUrl + '?' + 'formId=' + formId + '&inputFields=' + inputFields + '&inputValues=' + inputValues);
		}

		function ShowWinForPickUpGrid(retID1, retVal1, retType1, retID2, retVal2, retType2, titleString, contentUrl) {
			$('#win').window('open');
			$('#win').panel('clear');
			$('#win').window('setTitle', titleString);
			$('#win').window('refresh', contentUrl + '?retID1=' + retID1 + '&retVal1=' + retVal1 + '&retType1=' + retType1 + '&retID2=' + retID2 + '&retVal2=' + retVal2 + '&retType2=' + retType2);
		}

		function ShowWinForPickUpGrid20(retID1, retVal1, retType1, retID2, retVal2, retType2, retID3, retVal3, retType3, retID4, retVal4, retType4, retID5, retVal5, retType5, retID6, retVal6, retType6, retID7, retVal7, retType7, retID8, retVal8, retType8, retID9, retVal9, retType9, retID10, retVal10, retType10, retID11, retVal11, retType11, retID12, retVal12, retType12, retID13, retVal13, retType13, retID14, retVal14, retType14, retID15, retVal15, retType15, retID16, retVal16, retType16, retID17, retVal17, retType17, retID18, retVal18, retType18, retID19, retVal19, retType19, retID20, retVal20, retType20, titleString, contentUrl) {
			$('#win').window('open');
			$('#win').panel('clear');
			$('#win').window('setTitle', titleString);
			$('#win').window('refresh', contentUrl + '?retID1=' + retID1 + '&retVal1=' + retVal1 + '&retType1=' + retType1 + '&retID2=' + retID2 + '&retVal2=' + retVal2 + '&retType2=' + retType2 + '&retID3=' + retID3 + '&retVal3=' + retVal3 + '&retType3=' + retType3 + '&retID4=' + retID4 + '&retVal4=' + retVal4 + '&retType4=' + retType4 + '&retID5=' + retID5 + '&retVal5=' + retVal5 + '&retType5=' + retType5 + '&retID6=' + retID6 + '&retVal6=' + retVal6 + '&retType6=' + retType6 + '&retID7=' + retID7 + '&retVal7=' + retVal7 + '&retType7=' + retType7 + '&retID8=' + retID8 + '&retVal8=' + retVal8 + '&retType8=' + retType8 + '&retID9=' + retID9 + '&retVal9=' + retVal9 + '&retType9=' + retType9 + '&retID10=' + retID10 + '&retVal10=' + retVal10 + '&retType10=' + retType10 + '&retID11=' + retID11 + '&retVal11=' + retVal11 + '&retType11=' + retType11 + '&retID12=' + retID12 + '&retVal12=' + retVal12 + '&retType12=' + retType12 + '&retID13=' + retID13 + '&retVal13=' + retVal13 + '&retType13=' + retType13 + '&retID14=' + retID14 + '&retVal14=' + retVal14 + '&retType14=' + retType14 + '&retID15=' + retID15 + '&retVal15=' + retVal15 + '&retType15=' + retType15 + '&retID16=' + retID16 + '&retVal16=' + retVal16 + '&retType16=' + retType16 + '&retID17=' + retID17 + '&retVal17=' + retVal17 + '&retType17=' + retType17 + '&retID18=' + retID18 + '&retVal18=' + retVal18 + '&retType18=' + retType18 + '&retID19=' + retID19 + '&retVal19=' + retVal19 + '&retType19=' + retType19 + '&retID20=' + retID20 + '&retVal20=' + retVal20 + '&retType20=' + retType20);
		}
	</script>

	<!--主表新刪修-->
	<script>
    function addMaster() {
            $('#editShowOnly').hide();
        $('#dlg').dialog('open').dialog('setTitle', '@ViewBag.Title-主檔新增');
        $('#fm').form('clear');
		$('#StatNo').textbox('setValue', '@info.statNo');
		$('#SStatNo').textbox('setValue', '@info.statNo');
		@*$('#SStatNo').textbox('setValue', '@info.statNo');
		$('#SStatName').textbox('setValue', '@info.statName');*@
            @Html.Raw(ViewBag.FormCustomJsNew)

            fUrl = '@Url.Action(ViewBag.AddFunc, ViewBag.ControllerName)';
        }

    function editMaster() {
        var rowid = $('#grid').jqGrid('getGridParam', 'selrow');
        if (rowid) {
            var row = $("#grid").jqGrid('getRowData', rowid);
            $('#editShowOnly').hide();
            $('#passPrompt').show();
            $('#Password').passwordbox({ required: false });
            $('#dlg').dialog('open').dialog('setTitle', '@ViewBag.Title-主檔編輯');
            for (var i in row)
                row[i] = row[i].trim();
            $('#fm').form('load', row);
            @Html.Raw(ViewBag.FormCustomJsEdit)
            fUrl = '@Url.Action(ViewBag.EditFunc, ViewBag.ControllerName)';
        } else {
            $.messager.alert('@ViewBag.Title-警告', '尚未選擇資料!', 'warning');
        }
    }
        function saveMaster() {
         @Html.Raw(ViewBag.FormCustomJsSave)
            $('#fm').form('submit', {
                url: fUrl,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var r = eval('(' + result + ')');
                    if (r.ok >= 0) {
                        if (r.ok > 0) {
                            $.messager.alert('@ViewBag.Title-成功', '存檔成功!');
                        }
                        else {
                            $.messager.alert('@ViewBag.Title-警告', r.message, 'warning');
                        }
                        $('#dlg').dialog('close');        // close the dialog
                        $('#grid').trigger('reloadGrid');
                        $('#subgrid').trigger('reloadGrid');
                    }
                    else {
                        $.messager.alert('@ViewBag.Title-錯誤', r.message, 'error');
                    }
                }
            });
        }
		function delMaster() {
            var rowid = $('#grid').jqGrid('getGridParam', 'selrow');
            if (rowid) {
                var row = $("#grid").jqGrid('getRowData', rowid);
                $.messager.confirm('@ViewBag.Title-警告', '確認刪除?', function (r) {
                    if (r) {
                        $.post('@Url.Action(ViewBag.DelFunc, ViewBag.ControllerName)', { data: row }, function (data, textStatus, jqXHR) {
                            if (data.ok >= 0) {
                                $('#grid').trigger('reloadGrid');
                                $('#subgrid').trigger('reloadGrid');
                                $.messager.alert('@ViewBag.Title-成功', '刪除成功!');
                            } else {
                                $.messager.alert('@ViewBag.Title-錯誤', data.message, 'error');
                            }
                        }, 'json');
                    }
                });
            } else {
                $.messager.alert('@ViewBag.Title-警告', '尚未選擇資料!', 'warning');
            }
        }
	</script>
	<!--子表新刪修-->
	<script>
        function addDetail() {
            var rowid = $('#grid').jqGrid('getGridParam', 'selrow');
            if (rowid) {
                var row = $("#grid").jqGrid('getRowData', rowid);
                $('#editShowOnly').hide();
                $('#dlg2').dialog('open').dialog('setTitle', '@ViewBag.Title-明細新增');
                $('#fm2').form('clear');
				$('#IsServer').switchbutton('check');
                @Html.Raw(ViewBag.FormCustomJsNew2)
                fUrl = '@Url.Action(ViewBag.AddFunc2, ViewBag.ControllerName2)';
            } else {
                $.messager.alert('@ViewBag.Title-警告', '主表尚未選擇!', 'warning');
            }
        }

        function editDetail() {
            var rowid = $('#subgrid').jqGrid('getGridParam', 'selrow');
        if (rowid) {
            var row = $("#subgrid").jqGrid('getRowData', rowid);
            $('#editShowOnly').hide();
            $('#passPrompt').show();
            $('#Password').passwordbox({ required: false });
            $('#dlg2').dialog('open').dialog('setTitle', '@ViewBag.Title-明細編輯');
            for (var i in row)
                row[i] = row[i].trim();
            $('#fm2').form('load', row);
            @Html.Raw(ViewBag.FormCustomJsEdit2)
            fUrl = '@Url.Action(ViewBag.EditFunc2, ViewBag.ControllerName2)';
        } else {
            $.messager.alert('@ViewBag.Title-警告', '尚未選擇資料!', 'warning');
        }
    }
		function saveDetail() {
             @Html.Raw(ViewBag.FormCustomJsSave2)
            $('#fm2').form('submit', {
                url: fUrl,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var r = eval('(' + result + ')');
                    if (r.ok >= 0) {
                        if (r.ok > 0) {
							$.messager.alert('@ViewBag.Title-成功', '存檔成功!');
							debugger
							if (typeof afterSaveDetail === "function") {
								afterSaveDetail();
							}
                        }
                        else {
                            $.messager.alert('@ViewBag.Title-警告', r.message, 'warning');
                        }
                        $('#dlg2').dialog('close');        // close the dialog
						$('#subgrid').trigger('reloadGrid');
                    }
                    else {
                        $.messager.alert('@ViewBag.Title-錯誤', r.message, 'error');
                    }
                }
            });
        }
        function delDetail() {
            var rowid = $('#subgrid').jqGrid('getGridParam', 'selrow');
            if (rowid) {
                var row = $("#subgrid").jqGrid('getRowData', rowid);
                $.messager.confirm('@ViewBag.Title-警告', '確認刪除?', function (r) {
                    if (r) {
                        $.post('@Url.Action(ViewBag.DelFunc2, ViewBag.ControllerName2)', { data: row }, function (data, textStatus, jqXHR) {
                            if (data.ok >= 0) {
                                $('#subgrid').trigger('reloadGrid');
                                $.messager.alert('@ViewBag.Title-成功', '刪除成功!');
                            } else {
                                $.messager.alert('@ViewBag.Title-錯誤', data.message, 'error');
                            }
                        }, 'json');
                    }
                });
            } else {
                $.messager.alert('@ViewBag.Title-警告', '尚未選擇資料!', 'warning');
            }
        }
	</script>
</body>
</html>
